<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shobee Việt Nam | Mua và Bán Trên Ứng Dụng Di Động hoặc Website</title>
  <link rel="shortcut icon" href="/icons/logo_window_tab.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/category.css">
  <link rel="stylesheet" href="/assets/css/suggested.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/grid.css">
  <link rel="stylesheet" href="/assets/css/base.css">
  <link rel="stylesheet" href="/assets/css/normalize.min.css">
  <link rel="stylesheet" href="/assets/css/responsive.css">
  <link rel="styleshet" href="/assets/css/product_details.css">
  <link rel="stylesheet" href="/assets/font/fontawesome-free-6.1.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=vietnamese"
    rel="stylesheet">
  
</head>

<body>
  <div class="app">
    <!-- Header -->
    <header class="header">
      <div class="grid wide">
        <!-- first navbar row in the header -->
        <nav class="header__navbar hide-on-mobile-tablet">
          <!-- left section -->
          <ul class="header__navbar-list">
            <li class="header__navbar-item">
              <a href="https://shopee.vn/m/sell-on-shopee"
                class="header__navbar-item-link header__navbar-item--separate">Trở thành Người bán
                Shopbee</a>
            </li>
            <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
              Tải ứng dụng
              <div class="header__qr">
                <img class="header__qr-img" src="./assets/img/qr_code.png" alt="QR code">
                <div class="header__qr-apps">
                  <a href="" class="header__qr-link">
                    <img src="./assets/img/googleplay.png" alt="Google Play" class="header__qr-download-img">
                  </a>
                  <a href="" class="header__qr-link">
                    <img src="./assets/img/appstore.png" alt="Appstore" class="header__qr-download-img">
                  </a>
                </div>
              </div>
            </li>
            <li class="header__navbar-item">
              <span class="header__navbar-title--no-pointer">Kết nối</span>
              <a href="https://www.facebook.com/ShopeeVN?locale=vi_VN" class="header__navbar-icon-link" target="_blank">
                <i class="header__navbar-icon fa-brands fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/shopee_vn/" class="header__navbar-icon-link" target="_blank">
                <i class="header__navbar-icon fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
          <!-- right section -->
          <ul class="header__navbar-list">
            <!-- Thông báo -->
            <li class="header__navbar-item header__navbar-item--has-notify">
              <!-- <a href="#" class="header__navbar-item-link">
                <i class="header__navbar-icon far fa-bell"></i>
                Thông báo
              </a> -->

              <!-- Header Notification  -->
              <div class="header__notify">
                <header class="header__notify-header">
                  <h3>Thông báo mới nhận</h3>
                </header>
                <ul class="header__notify-list">
                  <li class="header__notify-item header__notify-item--viewed">
                    <a href="" class="header__notify-link">
                      <img src="https://www.vietskin.vn/wp-content/uploads/2020/08/image-skincare-9.jpg" alt=""
                        class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">Xác thực chính hãng nguồn gốc các sản
                          phẩm Ohui</span>
                        <span class="header__notify-description">Xác thực chính hãng nguồn gốc
                          các sản phẩm Ohui</span>
                      </div>
                    </a>
                  </li>
                  <li class="header__notify-item">
                    <a href="" class="header__notify-link">
                      <img src="https://luanvanviet.com/wp-content/uploads/2020/08/hinh-anh-san-pham-la-gi-4.jpg" alt=""
                        class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">Sale Sốc bộ dưỡng Ohui The First Tái
                          tạo trẻ hóa da SALE OFF 70%</span>
                        <span class="header__notify-description">Siêu sale duy nhất 3 ngày 11 -
                          13/12/2022</span>
                      </div>
                    </a>
                  </li>
                  <li class="header__notify-item">
                    <a href="" class="header__notify-link">
                      <img
                        src="http://d20aeo683mqd6t.cloudfront.net/vi/articles/title_images/000/040/760/medium/Hadalabo-5822.jpg?2021"
                        alt="" class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">DA NHẠY CẢM THÌ CÓ DÙNG ĐƯỢC SECRET
                          KHÔNG?</span>
                        <span class="header__notify-description">"Da mình nhạy cảm thì có dùng
                          được Secret không?"</span>
                      </div>
                    </a>
                  </li>
                  <li class="header__notify-item">
                    <a href="" class="header__notify-link">
                      <img src="https://www.thmilk.vn/wp-content/uploads/2021/03/RICE_464x297.jpg" alt=""
                        class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">BỘ SƯU TẬP PHIÊN BẢN GIỚI HẠN MÙA LỆ
                          HỘI 2021</span>
                        <span class="header__notify-description">BỘ SƯU TẬP PHIÊN BẢN GIỚI HẠN
                          MÙA LỆ HỘI 2021</span>
                      </div>
                    </a>
                  </li>
                </ul>
                <footer class="header__notify-footer">
                  <a href="#" class="header__notify-footer-btn">
                    Xem tất cả
                  </a>
                </footer>
              </div>
            </li>
            <!-- Hỗ trợ -->
            <!-- <li class="header__navbar-item">
              <a href="https://help.shopee.vn/vn/s" class="header__navbar-item-link">
                <i class="header__navbar-icon far fa-circle-question"></i>
                Hỗ trợ
              </a>
            </li> -->
            <!-- <li class="header__navbar-item header__navbar-item--bold header__navbar-item--separate">
                            Đăng ký
                        </li>
                        <li class="header__navbar-item header__navbar-item--bold">
                            Đăng nhập
                        </li> -->
            <!-- Account -->
            <li class="header__navbar-item header__navbar-user">
              <img src="https://i.pinimg.com/736x/13/2e/a7/132ea72d2bc3b85d90409c9e8f2d0f4a.jpg" alt=""
                class="header__navbar-user-img">
              <span class="header__navbar-user-name">Quốc Tỉ</span>

              <ul class="header__navbar-user-menu">
                <li class="header__navbar-user-item">
                  <a href="">Tài khoản của tôi</a>
                </li>
                <li class="header__navbar-user-item">
                  <a href="">Địa chỉ của tôi</a>
                </li>
                <li class="header__navbar-user-item">
                  <a href="">Đơn mua</a>
                </li>
                <li class="header__navbar-user-item header__navbar-user-item--separate">
                  <a href="/logout">Đăng xuất</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- Header with search -->
        <div class="header-with-search">
          <label for="mobile-search-checkbox" class="header__mobile-search">
            <i class="header__mobile-search-icon fa-solid fa-magnifying-glass"></i>
          </label>
          <!-- Shopbee logo icon -->
          <div class="header__logo hide-on-tablet">
            <a href="./" class="header__logo-link">
              <img src="./assets/img/Shopbee.png" style="width: calc(10vw + 10vh); position: fixed; left:2vw; top: 10vh">

            </a>
          </div>

          <input type="checkbox" hidden id="mobile-search-checkbox" class="mobile-search-checkbox">

          <div class="header__search">
            <div class="header__search-input-wrap">
              <!-- Header search input -->
              <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">

              <!-- History search box -->
              <div class="header__search-history">
                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                <ul class="header__search-history-list">
                  <li class="header__search-history-item">
                    <a href="#">
                      BẬT MÍ 5.5 - SĂN TRƯỚC MÃ 5.5
                      <!-- <img src="https://cf.shopee.vn/file/491389dce9eabc3510a3e8a21cc40ef7" alt="Sale"> -->
                    </a>
                  </li>
                  <li class="header__search-history-item">
                    <a href="#">Kem trị mụn</a>
                  </li>
                  <li class="header__search-history-item">
                    <a href="#">Iphone 13 Pro Max</a>
                  </li>
                  <li class="header__search-history-item">
                    <a href="#">Máy tính xách tay</a>
                  </li>
                </ul>
              </div>
            </div>

            <button class="header__search-btn">
              <i class="header__search-btn-icon fa-solid fa-magnifying-glass" style="color: black"></i>
            </button>

            <!-- Header search suggest -->
            <ul class="header__search-suggest-list hide-on-mobile-tablet">
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Dép</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Áo Phông</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Váy</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Áo Khoác</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Áo Thun</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Túi xách nữ</a>
              </li>
            </ul>
          </div>

          <!-- Cart layout -->
          <div class="header__cart">
            <div class="header__cart-wrap">
              <!-- <i class="header__cart-icon fa-solid fa-cart-shopping"></i> -->
              <img src="./assets/img/cart-logo-with-bee.png" style="width: calc(3vw + 3vh)">

              <span class="header__cart-notice">1</span>

              <!-- No cart: header__cart-list--no-cart -->
              <div class="header__cart-list">
                <img src="./assets/img/no_cart.png" alt="No cart" class="header__cart-no-cart-img">
                <span class="header__cart-no-cart-msg">Chưa có sản phẩm</span>

                <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                <ul class="header__cart-list-item">
                  <!-- Cart item -->
                  {{#each in_cartproduct}}
                  <li class="header__cart-item">
                    <img src={{image}} alt="" class="header__cart-img">
                    <div class="header__cart-item-info">
                      <div class="header__cart-item-head">
                        <h5 class="header__cart-item-name">{{productName}}</h5>
                        <div class="divheader__cart-item-price-wrap">
                          <span class="header__cart-item-price">{{price_current}}</span>
                          <span class="header__cart-item-multiply">x</span>
                          <span class="header__cart-item-qnt">{{quantity}}</span>
                        </div>
                      </div>
                      <div class="header__cart-item-body">
                        <form action="/deleteInCart?keyword={{productName}}" method="POST">
                          <button>
                            <span class="header__cart-item-remove">
                              Xóa
                            </span>
                          </button>
                        </form>

                      </div>
                    </div>
                  </li>
                  {{/each}}

                </ul>

                <a href="#" class="header__cart-view-cart">Xem giỏ hàng</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>
  </div>
</body>

{{{body}}}

</html>