<body>
  <div class="app">
    <!-- Header -->
    <header class="header">
      <div class="grid wide">
        <!-- first navbar row in the header -->
        <nav class="header__navbar hide-on-mobile-tablet">
          <!-- left section -->
          <ul class="header__navbar-list">
            <li class="header__navbar-item">
              <a href="https://shopee.vn/m/sell-on-shopee"
                class="header__navbar-item-link header__navbar-item--separate">Trở thành Người bán
                Shopbee</a>
            </li>
            <li class="header__navbar-item header__navbar-item--has-qr header__navbar-item--separate">
              Tải ứng dụng
              <div class="header__qr">
                <img class="header__qr-img" src="./assets/img/qr_code.png" alt="QR code">
                <div class="header__qr-apps">
                  <a href="" class="header__qr-link">
                    <img src="./assets/img/googleplay.png" alt="Google Play" class="header__qr-download-img">
                  </a>
                  <a href="" class="header__qr-link">
                    <img src="./assets/img/appstore.png" alt="Appstore" class="header__qr-download-img">
                  </a>
                </div>
              </div>
            </li>
            <li class="header__navbar-item">
              <span class="header__navbar-title--no-pointer">Kết nối</span>
              <a href="https://www.facebook.com/khoahd7621/" class="header__navbar-icon-link">
                <i class="header__navbar-icon fa-brands fa-facebook"></i>
              </a>
              <a href="https://www.instagram.com/khoahd7621/" class="header__navbar-icon-link">
                <i class="header__navbar-icon fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
          <!-- right section -->
          <ul class="header__navbar-list">
            <!-- Thông báo -->
            <li class="header__navbar-item header__navbar-item--has-notify">
              <!-- <a href="#" class="header__navbar-item-link">
                <i class="header__navbar-icon far fa-bell"></i>
                Thông báo
              </a> -->

              <!-- Header Notification  -->
              <div class="header__notify">
                <header class="header__notify-header">
                  <h3>Thông báo mới nhận</h3>
                </header>
                <ul class="header__notify-list">
                  <li class="header__notify-item header__notify-item--viewed">
                    <a href="" class="header__notify-link">
                      <img src="https://www.vietskin.vn/wp-content/uploads/2020/08/image-skincare-9.jpg" alt=""
                        class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">Xác thực chính hãng nguồn gốc các sản
                          phẩm Ohui</span>
                        <span class="header__notify-description">Xác thực chính hãng nguồn gốc
                          các sản phẩm Ohui</span>
                      </div>
                    </a>
                  </li>
                  <li class="header__notify-item">
                    <a href="" class="header__notify-link">
                      <img src="https://luanvanviet.com/wp-content/uploads/2020/08/hinh-anh-san-pham-la-gi-4.jpg" alt=""
                        class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">Sale Sốc bộ dưỡng Ohui The First Tái
                          tạo trẻ hóa da SALE OFF 70%</span>
                        <span class="header__notify-description">Siêu sale duy nhất 3 ngày 11 -
                          13/12/2022</span>
                      </div>
                    </a>
                  </li>
                  <li class="header__notify-item">
                    <a href="" class="header__notify-link">
                      <img
                        src="http://d20aeo683mqd6t.cloudfront.net/vi/articles/title_images/000/040/760/medium/Hadalabo-5822.jpg?2021"
                        alt="" class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">DA NHẠY CẢM THÌ CÓ DÙNG ĐƯỢC SECRET
                          KHÔNG?</span>
                        <span class="header__notify-description">"Da mình nhạy cảm thì có dùng
                          được Secret không?"</span>
                      </div>
                    </a>
                  </li>
                  <li class="header__notify-item">
                    <a href="" class="header__notify-link">
                      <img src="https://www.thmilk.vn/wp-content/uploads/2021/03/RICE_464x297.jpg" alt=""
                        class="header__notify-img">
                      <div class="header__notify-info">
                        <span class="header__notify-name">BỘ SƯU TẬP PHIÊN BẢN GIỚI HẠN MÙA LỆ
                          HỘI 2021</span>
                        <span class="header__notify-description">BỘ SƯU TẬP PHIÊN BẢN GIỚI HẠN
                          MÙA LỆ HỘI 2021</span>
                      </div>
                    </a>
                  </li>
                </ul>
                <footer class="header__notify-footer">
                  <a href="#" class="header__notify-footer-btn">
                    Xem tất cả
                  </a>
                </footer>
              </div>
            </li>
            <!-- Hỗ trợ -->
            <!-- <li class="header__navbar-item">
              <a href="https://help.shopee.vn/vn/s" class="header__navbar-item-link">
                <i class="header__navbar-icon far fa-circle-question"></i>
                Hỗ trợ
              </a>
            </li> -->
            <!-- <li class="header__navbar-item header__navbar-item--bold header__navbar-item--separate">
                            Đăng ký
                        </li>
                        <li class="header__navbar-item header__navbar-item--bold">
                            Đăng nhập
                        </li> -->
            <!-- Account -->
            <li class="header__navbar-item header__navbar-user">
              <img src="https://i.pinimg.com/736x/13/2e/a7/132ea72d2bc3b85d90409c9e8f2d0f4a.jpg" alt=""
                class="header__navbar-user-img">
              <span class="header__navbar-user-name">{{user.hoTen}}</span>

              <ul class="header__navbar-user-menu">
                <li class="header__navbar-user-item">
                  <a href="">Tài khoản của tôi</a>
                </li>
                <li class="header__navbar-user-item header__navbar-user-item--separate">
                  <a href="/logout">Đăng xuất</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- Header with search -->
        <div class="header-with-search">
          <label for="mobile-search-checkbox" class="header__mobile-search">
            <i class="header__mobile-search-icon fa-solid fa-magnifying-glass"></i>
          </label>
          <!-- Shopbee logo icon -->
          <div class="header__logo hide-on-tablet">
            <a href="./" class="header__logo-link">
              <img src="./assets/img/Shopbee.png" style="width: calc(10vw + 10vh);">

            </a>
          </div>

          <input type="checkbox" hidden id="mobile-search-checkbox" class="mobile-search-checkbox">

          <div class="header__search">
            <div class="header__search-input-wrap">
              <!-- Header search input -->
              <input type="text" class="header__search-input" placeholder="Nhập để tìm kiếm sản phẩm">

              <!-- History search box -->
              <div class="header__search-history">
                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                <ul class="header__search-history-list">
                  <li class="header__search-history-item">
                    <a href="#">
                      BẬT MÍ 5.5 - SĂN TRƯỚC MÃ 5.5
                      <!-- <img src="https://cf.shopee.vn/file/491389dce9eabc3510a3e8a21cc40ef7" alt="Sale"> -->
                    </a>
                  </li>
                  <li class="header__search-history-item">
                    <a href="#">Kem trị mụn</a>
                  </li>
                  <li class="header__search-history-item">
                    <a href="#">Iphone 13 Pro Max</a>
                  </li>
                  <li class="header__search-history-item">
                    <a href="#">Máy tính xách tay</a>
                  </li>
                </ul>
              </div>
            </div>

            <button class="header__search-btn">
              <i class="header__search-btn-icon fa-solid fa-magnifying-glass" style="color: black"></i>
            </button>

            <!-- Header search suggest -->
            <ul class="header__search-suggest-list hide-on-mobile-tablet">
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Dép</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Áo Phông</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Váy</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Áo Khoác</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Áo Thun</a>
              </li>
              <li class="header__search-suggest-list-item">
                <a href="#" class="header__search-suggest-link">Túi xách nữ</a>
              </li>
            </ul>
          </div>

          <!-- Cart layout -->
          <div class="header__cart">
            <div class="header__cart-wrap">
              <!-- <i class="header__cart-icon fa-solid fa-cart-shopping"></i> -->
              <img src="./assets/img/cart-logo-with-bee.png" style="width: calc(3vw + 3vh)">

              <span class="header__cart-notice">1</span>

              <!-- No cart: header__cart-list--no-cart -->
              <div class="header__cart-list">
                <img src="./assets/img/no_cart.png" alt="No cart" class="header__cart-no-cart-img">
                <span class="header__cart-no-cart-msg">Chưa có sản phẩm</span>

                <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                <ul class="header__cart-list-item">
                  <!-- Cart item -->
                  {{#each in_cartproduct}}
                  <li class="header__cart-item">
                    <img src={{image}} alt="" class="header__cart-img">
                    <div class="header__cart-item-info">
                      <div class="header__cart-item-head">
                        <h5 class="header__cart-item-name">{{productName}}</h5>
                        <div class="divheader__cart-item-price-wrap">
                          <span class="header__cart-item-price">{{price_current}}</span>
                          <span class="header__cart-item-multiply">x</span>
                          <span class="header__cart-item-qnt">{{quantity}}</span>
                        </div>
                      </div>
                      <div class="header__cart-item-body">
                        <form action="/deleteInCart?keyword={{productName}}" method="POST">
                        <button>
                          <span class="header__cart-item-remove">
                            Xóa
                          </span>
                        </button>
                        </form>

                      </div>
                    </div>
                  </li>
                  {{/each}}

                </ul>

                <a href="#" class="header__cart-view-cart">Xem giỏ hàng</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>
  </div>
</body>

<body style="height: 10000px">
  <!-- Banner section  -->
  <div class="app__banner">
    <!-- banner quảng cáo layout 2 1 2 -->
    <div class="grid wide">
      <div class="row sm-gutter app__banner-content">
        <div class="col l-8 m-12 c-12">
          <div class="full-home-banners__main">
            <div class="full-home-banners__main-inner">
              <a href="" class="full-home-banners__main-item active">
                <img src="https://cf.shopee.vn/file/8da7a277ab0b311b9152070ac7e2c217_xxhdpi" alt="">
              </a>
              <a href="" class="full-home-banners__main-item">
                <img src="https://cf.shopee.vn/file/cbd678911fdabb577ec97dcb7efd7141_xxhdpi" alt="">
              </a>
              <a href="" class="full-home-banners__main-item">
                <img src="https://cf.shopee.vn/file/6da82e01627122bf22b8bcc014fc90af_xxhdpi" alt="">
              </a>
              <a href="" class="full-home-banners__main-item">
                <img src="https://cf.shopee.vn/file/vn-50009109-3e8ca7826928e820624cb0513da975a7_xxhdpi" alt="">
              </a>
            </div>
            <div class="full-home-banners__main-controls">
              <i class="carosel-btn-left fa-solid fa-angle-left"></i>
              <i class="carosel-btn-right fa-solid fa-angle-right"></i>
            </div>
            <div class="full-home-banners__main-indicators">
              <div class="full-home-bannders__main-dot active"></div>
              <div class="full-home-bannders__main-dot"></div>
              <div class="full-home-bannders__main-dot"></div>
              <div class="full-home-bannders__main-dot"></div>
            </div>
          </div>
        </div>
        <div class="col l-4 m-12">
          <div class="row sm-gutter-tablet">
            <a href="#" class="col l-12 m-6 full-home-banners__right-link">
              <div class="full-home-banners__right-img"
                style="background-image: url('https://cf.shopee.vn/file/7838079195aa34290179f39d1b496d69_xhdpi')">
              </div>
            </a>
            <a href="#" class="col l-12 m-6 full-home-banners__right-link">
              <div class="full-home-banners__right-img"
                style="background-image: url('https://cf.shopee.vn/file/735586d941db9bb7dfe1afcde9179d15_xhdpi')">
              </div>
            </a>
          </div>
        </div>
      </div>
      <!-- Mấy cái icon bấm vô nó nhảy ra chi tiết quảng cáo -->
      <ul class="app__banner-list">
        <!-- khung giờ săn sale -->
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/46a2a2c810622f314d78455da5e5d926_xhdpi');">
            </div>
            <span class="banner-list__title">Khung Giờ Săn Sale</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/b3535d7e56c58c4ebe9a87672d38cc5e_xhdpi');">
            </div>
            <span class="banner-list__title">Gì Cũng Rẻ - Mua Là Freeship</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url(&quot;https://cf.shopee.vn/file/vn-50009109-f6c34d719c3e4d33857371458e7a7059_xhdpi&quot;);">
            </div>
            <span class="banner-list__title">Voucher Giảm Đến 500.000Đ</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/3820374516083447a858e6f303441170_xhdpi');">
            </div>
            <span class="banner-list__title">Bảo vệ sức khỏe</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/c7a2e1ae720f9704f92f72c9ef1a494a_xhdpi');">
            </div>
            <span class="banner-list__title">Miễn Phí Vận Chuyển</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url(&quot;https://cf.shopee.vn/file/vn-50009109-8a387d78a7ad954ec489d3ef9abd60b4_xhdpi&quot;); background-size: contain; background-repeat: no-repeat;">
            </div>
            <span class="banner-list__title">Mã Giảm Giá</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/765ca66457ec08802f74c529f71a99b7_xhdpi');">
            </div>
            <span class="banner-list__title">Hàng Hiệu -50%</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/96385a65fa50800e096bb790fa5c1dba_xhdpi');">
            </div>
            <span class="banner-list__title">Deal Sốc Từ 1K</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url('https://cf.shopee.vn/file/a08ab28962514a626195ef0415411585_xhdpi');">
            </div>
            <span class="banner-list__title">Hàng Quốc Tế</span>
          </a>
        </li>
        <li class="banner-list__item">
          <a href="" class="banner-list__link">
            <div class="banner-list__img"
              style="background-image: url(&quot;https://cf.shopee.vn/file/vn-50009109-1975fb1af4ae3c22878d04f6f440b6f9_xhdpi&quot;); background-size: contain; background-repeat: no-repeat;">
            </div>
            <span class="banner-list__title">Hàng Quốc Tế</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>

  <div class="app__container">
    <div class="grid wide">
      <div class="row sm-gutter app_content">
        <!-- Product -->
        <div class="col l-10 m-12 c-12">

          <!-- Product list -->
          <div class="home-product">
            <div class="row sm-gutter">
              <!-- Product item -->
              {{#each product}}
              <div class="col l-2-4 m-4 c-6">
                <div class="home-product-item">
                  <div class="home-product-item__img" style="background-image: url({{image}});">
                  </div>
                  <h4 class="home-product-item__name">
                    {{productName}}
                  </h4>
                  <div class="home-product-item__price">
                    <span class="home-product-item__price-old">{{price_old}}</span>
                    <span class="home-product-item__price-current">{{
                      price_current}}</span>
                  </div>
                  <div class="home-product-item__action">
                    <span class="home-product-item__like home-product-item__like--liked">
                      <i class="home-product-item__like-icon-empty fa-regular fa-heart"></i>
                      <i class="home-product-item__like-icon-fill fa-solid fa-heart"></i>
                    </span>
                    <div class="home-product-item__rating">
                      <i class="home-product-item__star--gold fa-solid fa-star"></i>
                      <i class="home-product-item__star--gold fa-solid fa-star"></i>
                      <i class="home-product-item__star--gold fa-solid fa-star"></i>
                      <i class="home-product-item__star--gold fa-solid fa-star"></i>
                      <i class=" fa-solid fa-star"></i>
                    </div>
                    <span class="home-product-item__sold">{{item_sold}} đã bán</span>
                  </div>
                  <div class="home-product-item__origin">
                  </div>
                  <div class="home-product-item__favourite">
                    <i class="fa-solid fa-check"></i>
                    <span>Yêu thích</span>
                  </div>
                  <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">10%</span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>

          <!-- Pagination -->

        </div>
      </div>
    </div>
  </div>
  <script src="./assets/js/main.js"></script>

</body>